.register .reg
{
    text-align: center;
    background-color: white;
    margin-top: 20px;
    padding: 40px;
    font-size: 25px;
    
    
    font-weight: bold;

}
.register
{
background-color:white;

}

.details
{
    background-color: white;
    width: 300px;
    margin: 0px auto 0px;
    padding: 15px;
    font-weight: bolder;
    font-size: larger;
}

.details input[type=text],
.details input[type=tel],
.details input[type=date],
.details input[type=password],
.details input[type=email] {
    font-size: 15px;
    
    font-weight: lighter;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    margin-bottom: 5px;

}

.registerbtn
{
    margin: 15px auto 20px;
    margin-bottom: 35px;
    width: 270px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fce181;
    
}
button:hover {
    background-color:#f5cb35;
}



.validcheck
{
    font-size: normal;
    font-weight: lighter;
    border-radius: 10px;
}

.foot
{
    
    font-size: medium;
    padding: 15px;

    color: black;
    font-size: 15px;
    text-align: center;
    background-color:  #EDEAE5;
}

.fn , .ad , .dob , .ln , .em , .con , .pa1 , .pa2 , .ge , .em1 , .dob , .con1
{
    font-size: small;
    color: red;
    
}
.container{
    
    padding: 20px;
    width: fit-content;
    height: initial;

}
.bg-img {
    
    background-image: url("C:\Users\Windows\BusProject\src\assets\images\travel3.jpg ");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
input:focus{
    border:3px solid #EDEAE5;
    outline: none;
    box-shadow: none;
}
button{
    background-color: #FEF9C7;
    
}
button:focus{
    background-color: #FCE181;
    outline: none; 
    box-shadow: none;
}
.bottom
{

    height: 80px;
    background-color: #edeae5;
    padding: 20px;
    width: 100%;
    bottom: 0;
    position: fixed;    
}